<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Culqi_Pago::payment_view" title="View Culqi Payment" />
                <resource id="Culqi_Pago::config" title="Culqi Payment Config" sortOrder="10" />
            </resource>
        </resources>
    </acl>
</config>
