<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="culqi" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Culqi</label>
                <fieldset_css>culqi-other-section</fieldset_css>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Habilitar</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/culqi/active</config_path>
                </field>
                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Título</label>
                    <config_path>payment/culqi/title</config_path>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Orden de Clasificación</label>
                    <frontend_class>validate-number</frontend_class>
                    <config_path>payment/culqi/sort_order</config_path>
                </field>
                <field id="iframe_config" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Configuración Avanzada</label>
                    <frontend_model>Culqi\Pago\Block\Adminhtml\Form\Field\IframeConfig</frontend_model>
                    <comment>Configura llaves, métodos de pago y personalización desde el panel de Culqi</comment>
                </field>
            </group>
        </section>
    </system>
</config> 